.navbar{
    z-index: 10;
}

.dropdown-menu{
    background-color: rgb(175, 175, 175);
    border-radius: 0%;
}

.nav-link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 110%;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 1);
}

.nav-icon{
    font-size: 1.25rem; 
    color: rgba(255, 255, 255, 0.6);
}

.nav-icon:hover{
    color: rgba(255, 255, 255, 1);
}

.navbar-brand{
    font-size: 175%;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1150px;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.plexus {
    min-width: 1200px;
    min-height: 100%;
}

.background-image {
    position: absolute;
    filter: blur(2px);
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 720px;
    z-index: 0;
    transform: translateX(-50%) translateY(-35%);
}

.background-image-fpv{
    position: absolute;
    filter: blur(2px);
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1080px;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.background-image-cubing{
    position: absolute;
    filter: blur(2px);
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1500px;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.title{
    z-index: 5;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.header{
    position: relative;
    height: 90vh;
    min-height: 25rem;
    width: auto;
    overflow: hidden;
    background-attachment: fixed;
}

.image{
    position: relative;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.image-container{
    position: relative;
    height: 45vh;
    width: 100%;
    overflow: hidden;
}

.inline-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

.carousel-item img {
    position: relative;
    width: 100%;
    height: auto; 
    transform: translateY(-25%);
}

.slide{
    width: 75vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(15%);
    overflow: hidden;
}

.background-color-block{
    height: 75vh;
    width: 100%;
    position: absolute;
    transform: translateX(-1%);
    background-color: rgb(47, 47, 109);
}

.navbar-toggler{
    color: white;
}

.notre-dame-image{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.ctf-video{
    height: auto;
    width: 110%;
    min-width: 700px;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.circle-image{
    height: 25vh;
    width: 25vh;
}

.pro-image{
    height: auto;
    width: 25vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
}

.resume-title{
    color: rgb(47, 47, 109);
}

.resume-name{
    font-size: 50px;
}

.spacer{
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
    
}

.orange1{
    background-image: url(images/svg/orange-waves.svg);
}

.orange2{
    background-image: url(images/svg/orange-waves-2.svg);
}

.black{
    background: rgb(20, 20, 20);
}

.orange{
    background: #F7770F;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    padding: 100px 20vw;
    z-index: 1;
}