.navbar{
  background-color: rgb(47, 47, 109);
  z-index: 10;
}

.dropdown-menu{
  background-color: rgb(175, 175, 175);
  border-radius: 0%;
}

.nav-link{
  color: rgba(255, 255, 255, 0.6);
  font-size: 110%;
}

.nav-link:hover{
  color: rgba(255, 255, 255, 1);
}

.nav-icon{
  font-size: 1.25rem; 
  color: rgba(255, 255, 255, 0.6);
}

.nav-icon:hover{
  color: rgba(255, 255, 255, 1);
}

.navbar-brand{
  font-size: 175%;
}

.navbar-toggler{
  color: white;
}
